{% extends "bootstrap/base.html" %}

{% block title %}
One Stop Shop
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='starter-template.css')}}">
{% endblock %}
{% block scripts %}
<script src="{{url_for('.static', filename='myscripts.js')}}"></script>
<script>

     document.getElementById("mybutton").onclick = function(){
 var ser = document.getElementById("Search").value;
if(ser=='')
{
alert("Nothing is entered");
}
else
{
document.getElementById("Search").value='';
location.href="/searchproducts1/"+ser;
}
};

</script>
{{super()}}
{% endblock %}
{% block body_attribs %} onload="vP1()" {% endblock %}
{% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index') }}">One Stop Shop</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">

    <div  class="starter-template">
        <p class="lead">You can buy and sell your products on one platform<br/> One_Stop_shop</p>
<input class="navbar-form navbar-right"id="mybutton" type="button"  value="search">
<form class="navbar-form navbar-right" method="POST">
            <input id="Search" type="text" class="form-control" placeholder="Search...">
          </form>
 
        <h3 style="text-align:left">Available Products:</h3><br/><br/>

        
        <p id="pdisplay">
        </p>
<br/><br/>
    <button style="text-align:center" type="button" onclick="sign()">SELL A PRODUCT</button>
    </div>

</div><!-- /.container -->
{% endblock %}

